<html>
<head>
    <title>Configure your Keycloakdeployment</title>
    <meta name="decorator" content="atl.general">
</head>
<body>
<div align="center">
    <h1>Here you can configure the plugin deployment</h1>
    Hello user $username !! WE got some $stuff

    <form method="get" action="$requestUrl">
        <label>Keycloakresource</label>
        <input type="text" value="$map.resource" required="required" name="resource">
        <br/>

        <label>KeycloakbaseURL</label>
        <input type="text" value="$map.authServerUrl" required="required" name="authServerUrl">
        <br/>

        <label>Keycloakrealm</label>
        <input type="text" value="$map.realm" required="required" name="realm">
        <br/>

        <button type="submit">SUBMIT IT</button>
    </form>
</div>

<!--
<p>
    $map.resource is my resource <br>
    $map.authServer is my BaseURL <br>
    $map.realm is my realm <br>
    $requestUrl is the requestUrl
</p>
-->
</body>

</html>